/* Aplicar la fuente Andale Mono */
body {
    font-family: "Andale Mono", monospace;
    margin: 0;
    padding: 0;
}

/* Contenedor general */
.container {
    display: flex;
    height: 100vh;
    flex-direction: row; /* Para pantallas grandes, la barra lateral y el contenido estarán lado a lado */
}

/* Menú lateral */
.sidebar {
    width: 20%;
    background: white; 
    color: white;
    padding: 20px;
    box-sizing: border-box;
    flex-shrink: 0; /* Asegura que el sidebar no se reduzca */
    display: block; /* Mostrar el menú lateral en pantallas grandes */
}

.sidebar.active {
    transform: translateX(0); /* Mostrar el menú cuando esté activo */
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
    margin-top: 80px; /* Más espacio por arriba */
}

.sidebar ul li {
    margin-bottom: 15px;
}

.sidebar ul li a {
    color: rgb(53, 53, 53);
    text-decoration: none;
}

.sidebar ul li a:hover {
    text-decoration: dashed;
}

/* Escribir encima de imágenes */

.image-container {
    position: relative; /* Necesario para el posicionamiento absoluto del overlay */
    width: 200%; /* Ajusta según tus necesidades */
    max-width:fit-content; /* Ajusta el ancho máximo si es necesario */
}

.background-image {
    width: 100%; /* Asegúrate de que la imagen ocupe todo el contenedor */
    height: auto; /* Mantener la proporción */
    border: 2px solid #333;
    border-radius: 5px;
}

.overlay {
    position: absolute; /* Posicionar el overlay sobre la imagen */
    top: 0; /* Al inicio */
    left: 0; /* Al inicio */
    right: 0; /* Abarcar todo el ancho */
    bottom: 0; /* Abarcar todo el alto */
    background-color: rgba(0, 0, 0, 0.2); /* Color de fondo semi-transparente */
    color: white; /* Color del texto */
    display: list-item; /* Usar flexbox para centrar el contenido */
    align-items: start; /* Centrar verticalmente */
    justify-content: left; /* Centrar horizontalmente */
    text-align: left; /* Centrar el texto */
    padding: 20px; /* Espaciado alrededor del texto */
}

#lista-ultimos-trabajos{
    line-height: 250%;
}


/* Botón para abrir el menú en móviles */
.menu-toggle {
    display: none;
    position: fixed;
    top: 10px;
    left: 10px;
    font-size: 24px;
    background-color: #333;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    z-index: 200; /* Para que esté por encima de todo */
}

/* Contenido de los proyectos */
.content {
    width: 80%;
    padding: 20px;
    background: white;
    box-sizing: border-box;
    flex-grow: 1;
    transition: margin-top 0.5s ease;
    margin-top: 80px; /* Ajuste para evitar que el botón tape el contenido */
}

.project-info {
    opacity: 1;
    transition: opacity 0.5s ease; /* Animación de fundido */
}

.project-info.show {
    display: block;
    opacity: 1;
}

.project-info:not(.show) {
    opacity: 0;
}

/* Grid de imágenes */
.image-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(700px, 1fr)); /* Aumentar el tamaño mínimo a 600px */
    grid-gap: 10px;
    margin-top: 20px;
}

.image-grid img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border: 2px solid #333;
    border-radius: 5px;
}




/* Responsividad para pantallas móviles (menores a 768px) */
@media (max-width: 768px) {
    .menu-toggle {
        display: block; /* Mostrar el botón de menú */
    }

    .container {
        flex-direction: column; /* En móviles, apilar la barra lateral y el contenido verticalmente */
    }

    .content {
        width: 100%; /* Hacer que el contenido ocupe todo el ancho en móviles */
        margin-top: 60px; /* Ajustar margen superior en móviles */
    }

    .sidebar {
        display: none; /* Ocultar el menú lateral en móviles */
        width: 80%;
        padding-left: 20px;
    }

    .sidebar ul li {
        padding-left: 15px 0;  /* Añadir espacio a la izquierda */
        text-align: left;    /* Asegurar que el texto esté alineado a la izquierda */
    }
    
    .sidebar ul li a {
        font-size: 18px;  /* Ajustar el tamaño de la fuente para que sea más legible */
    }

    .sidebar.active {
        display: block; /* Mostrar el menú cuando se active en móviles */
    }

    .image-grid {
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); /* Aumentar también el tamaño en móviles */
    }
}

/* Botones de navegación */
.navigation-buttons {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.navigation-buttons button {
    background-color: transparent; /* Sin fondo */
    color: #333;
    border: none;
    font-size: 18px;
    margin: 0 10px;
    cursor: pointer;
}

.home-button {
    font-size: 10px;
}

.triangle-button {
    font-size: 20px; /* Ajustar tamaño */
}
