/* Estilos globales */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #CEFFC2;;
  color: #333;
}

/* Encabezado */
header {
  background-color: #333;
  color: #fff;
  padding: 10px 0;
  text-align: center;
}

header h1 {
  margin: 0;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 10px 0 0;
  text-align: center;
}

nav ul li {
  display: inline;
  margin: 0 10px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}

/* Sección Bio */
#bio {
  padding: 20px;
  text-align: center;
  background-color: #fff;
}

/* Sección Trabajos */
#trabajos {
  padding: 20px;
}

#lista-trabajos {
  list-style: none;
  padding: 0;
  text-align: center;
}

#lista-trabajos li {
  margin: 10px 0;
}

#lista-trabajos li a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
}

/* Detalles de proyecto */
#detalle-trabajo {
  padding: 20px;
  background-color: #fff;
  text-align: center;
}

#detalle-trabajo img {
  max-width: 100%;
  height: auto;
  margin-top: 20px;
}

/* Pie de página */
footer {
  text-align: center;
  padding: 10px;
  background-color: #333;
  color: #fff;
  position: relative;
  bottom: 0;
  width: 100%;
}

@font-face {
  font-family: 'B612 Mono';
  font-style: normal;
  font-weight: 400;
  font-display: block;
  src: url(https://design.penpot.app/internal/gfonts/font/b612mono/v14/kmK_Zq85QVWbN1eW6lJV0A7d.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}


/* --- Media Queries para pantallas pequeñas --- */

/* Para pantallas con un ancho máximo de 768px (tablets y smartphones en modo horizontal) */
@media (max-width: 768px) {
  nav ul li {
      display: block; /* Cambiar el menú a una lista vertical */
      margin: 5px 0;
  }

  #lista-trabajos li {
      margin: 5px 0; /* Reducir márgenes entre trabajos */
  }

  footer {
      padding: 20px; /* Aumentar el padding en dispositivos más pequeños */
  }
}

/* Para pantallas con un ancho máximo de 480px (smartphones en modo vertical) */
@media (max-width: 480px) {
  header h1 {
      font-size: 1.5em; /* Reducir el tamaño del título para móviles */
  }

  nav ul li {
      display: block; /* Menú en bloque para facilitar la navegación */
      margin: 10px 0; /* Mayor separación entre enlaces */
  }

  #bio, #trabajos, #detalle-trabajo {
      padding: 10px; /* Reducir el padding general */
  }

  footer {
      padding: 15px;
  }

  /* Ajustar el tamaño de fuente para una mejor legibilidad en pantallas pequeñas */
  body {
      font-size: 16px;
  }
}
